# IntelliJ
/.idea/

# Main Files
/variables.txt
/server.jar
/git.sh

# Logs
/logs/*
/*.log

# Plugins
/plugins/bStats/
/plugins/Plan.jar
/plugins/plan/libraries/
/plugins/plan/logs/
/plugins/plan/serverConfiguration/
/plugins/plan/ServerInfoFile.yml
/plugins/plan/GeoLite2-Country.mmdb